body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: url('bkgrd3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: pink;
}

.login-container {
    background-color: purple;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    color: #000;
}

button {
    background-color: #ff0;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e5e500;
}